<div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab" style="background-color: white; height: 100wh;">
   <div class='chat-container'>
      <ul id="messages"></ul>
      <form action="">
         <input id="m" autocomplete="off" /><button>Send</button>
      </form>
   </div>
</div>