<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="canvas"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/socket.js" type="module"></script>
  </body>
</html>
