<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% console.log(user) %> 
    <% if (user) { %>
      <p>Welcome <%= user.profile.first %></p> 
      <% } else { %>
      <p>Welcome to <%= title %></p>
      <% } %>
  </body>
</html>
