<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>Main page</title>
  </head>
  <body id="gradient">
    <div class='container' style='background-color: rgb(238, 237, 237); border-radius: 15px;'>
      <% if (user) { %>
        <div class="welcome">
          <p>Welcome <span id='username'><img style="width: 35px; display: none;" src="<%= user.profile.avatar %>" alt="avatar" id='avatar'> <%= user.nickname %></span></p>
          <a href="/api/users/profile/" id='profile'><button type="button" class="btn btn-outline-secondary">Profile</button></a>
          <a href="/logout" id='logout'><button type="button" class="btn btn-outline-secondary">Logout</button></a>
        </div>
        <% } else { %>
          <p>Welcome to <%= title %></p>
          <% } %>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">Corona News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="false">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="false">Live-Chat</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <% include ./partials/news.ejs %> 
            <% include ./partials/posts.ejs %> 
            <% include ./partials/chat.ejs %> 
          </div>
          <% include ./partials/footer.ejs %> 
        </div>
        <% include ./partials/scripts.ejs %>
  </body>
</html>
