<div class="tab-pane fade" id="user-password" role="tabpanel" aria-labelledby="user-password-tab">
   <div class='profile-container' style="display: flex;">
      <form class="form-horizontal update-form" role="form" method="POST" action="/api/users/update-password?_method=PUT">
         <% if (errors) { %>
            <p id='error'><%= errors %> </p>
         <% } %>
         <% if (success) { %>
            <p id='success'><%= success %> </p>
         <% } %>
         <div class="form-group profile-div-align">
            <label class="col-lg-3 control-label profile-label-align">Old Password:</label>
            <div class="col-lg-8">
               <input class="form-control" type="password" placeholder="Old password" name='oldPassword'>
            </div>
         </div>
         <div class="form-group profile-div-align">
            <label class="col-lg-3 control-label profile-label-align">New Password:</label>
            <div class="col-lg-8">
               <input class="form-control" type="password" placeholder="New Password" name='newPassword'>
            </div>
         </div>
         <div class="form-group profile-div-align">
            <label class="col-md-3 control-label profile-label-align">Repeat New Password:</label>
            <div class="col-md-8">
               <input class="form-control" type="password" placeholder="Repeat New Password" name='newPasswordRepeat'>
            </div>
         </div>
         <div class="form-group profile-div-align">
            <div class="col-md-8" style="display: flex; justify-content: center;">
               <input type="submit" class="btn btn-primary" value="Change Password">
               <span></span>
            </div>
         </div>
      </form>
   </div>
</div>
